**Welcome to the project Notebook!!!**

We'll be writing stuff here. Please add this to your Jupyters.

In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
library(RCurl)
options(repr.matrix.max.rows = 6)
set.seed(1)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.


Attaching package: ‘RCurl’


The following object is masked from ‘package:tidyr’:

    complete

In [2]:
#reading the dataset into Jupyter
x <- getURL("https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2020.csv")
match_data <- read.csv(text = x)
match_data

     tourney_id tourney_name surface draw_size tourney_level tourney_date
1    2020-8888  Atp Cup      Hard    24        A             20200106
2    2020-8888  Atp Cup      Hard    24        A             20200106
3    2020-8888  Atp Cup      Hard    24        A             20200106
⋮    ⋮          ⋮            ⋮       ⋮         ⋮             ⋮
1460 2020-7485  Antwerp      Hard    32        A             20201019
1461 2020-7485  Antwerp      Hard    32        A             20201019
1462 2020-7485  Antwerp      Hard    32        A             20201019
     match_num winner_id winner_seed winner_entry ⋯ l_1stIn l_1stWon l_2ndWon
1    300       104925    NA                       ⋯ 51      39        6
2    299       105138    NA                       ⋯ 35      21        6
3    298       104925    NA                       ⋯ 57      35       25
⋮    ⋮         ⋮         ⋮           ⋮            ⋱ ⋮       ⋮        ⋮
1460 128       126203     7                       ⋯ 37      30       5
1461 129       144750    NA          Q            ⋯ 45      29       5
1462 130       200005    NA                       ⋯ 32      26       7
     l_SvGms l_bpSaved l_bpFaced winner_rank winner_rank_points loser_rank
1    10      6          8         2          9055                1
2     9      5         10        10          2335               34
3    14      6         11         2          9055                5
⋮    ⋮       ⋮         ⋮         ⋮           ⋮                  ⋮
1460  9      3          5        28          1670                33
1461 10      7         11        90           748                74
1462  9      2          4        38          1306               172
     loser_rank_points
1    9985
2    1251
3    5705
⋮    ⋮
1460 1402
1461  838
1462  353

In [3]:
#Split match_data into two tables based on whether a player won or lost their match
#Add a variable indicating said win or loss
#Select for the variables of interest: height and age and match_result
#Rename height and age column names to remove redundancy and improve consistency
match_data_winner <- match_data |> 
                    mutate(match_result = "win") |>
                    select(winner_ht, winner_age, match_result) |>
                    rename(ht = winner_ht, age = winner_age)

match_data_loser <- match_data |> 
                    mutate(match_result = "lose") |>
                    select(loser_ht, loser_age, match_result) |>
                    rename(ht = loser_ht, age = loser_age)

#Recombine the two tables into one
match_data_tidy <- bind_rows(match_data_winner, match_data_loser)
match_data_tidy

     ht  age  match_result
1    188 32.6 win
2    183 31.7 win
3    188 32.6 win
⋮    ⋮   ⋮    ⋮
2922 211 23.1 lose
2923 178 21.5 lose
2924 180 26.6 lose

In [4]:
data <- match_data_tidy |> mutate(match_result = as_factor(match_result)) 
data

     ht  age  match_result
1    188 32.6 win
2    183 31.7 win
3    188 32.6 win
⋮    ⋮   ⋮    ⋮
2922 211 23.1 lose
2923 178 21.5 lose
2924 180 26.6 lose

In [5]:
data_split <- initial_split(data, prop=0.75,strata = match_result)
data_training <- training(data_split)
data_testing <- testing(data_split)

data_training
data_testing

     ht  age  match_result
1463 185 33.5 lose
1465 198 23.9 lose
1467 183 20.8 lose
⋮    ⋮   ⋮    ⋮
1460 193 22.9 win
1461 193 23.6 win
1462 188 22.3 win

     ht  age  match_result
6    183 31.7 win
13   180 29.0 win
19   188 32.6 win
⋮    ⋮   ⋮    ⋮
2918 181 31.2 lose
2920 185 27.8 lose
2921 188 32.7 lose

In [6]:
data_recipe <- recipe(match_result ~., data = data_training) |>
step_scale(all_predictors()) |>
step_center(all_predictors()) |> 
prep()

scaled_data <- bake(data_recipe, data)

In [7]:
knn_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = 3) |> 
set_engine("kknn") |>
set_mode("classification")

knn_fit <- knn_spec |> fit(match_result ~., data = scaled_data)

In [8]:
new_obs <- tibble(ht = 180, age = 30)

obs_prediction <- predict(knn_fit, new_obs)

obs_prediction

  .pred_class
1 lose